body {
    background: #eee;
    font-family: 'Lily Script One';

  }
  
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px;

  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 10px;
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .content{
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    line-height: 0.5;

    text-align: center;
    font-size: 0.7rem;

}

.front{
    background: white;
    color: #03446A;
}

.back {
    background: #03446A;
    color: white;
    transform: rotateY( 180deg );
}

.bussinessname {
    font-size: 1.1rem;
    font-weight: bolder;
}

img {
    border-radius: 10px;
    width:300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}