*{
	box-sizing: border-box;
}

body {
    background: #eee;
    font-family:  'Poppins', sans-serif;
 }

.column{
	float: left;
	width:33%;
	padding: 0 10px;
}

.row {margin:0 -5px;}

.row:after {
	content:"";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px){
	.column{
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

.card {
    padding: 16px;
	width: 100%;
    height: 350px;
	perspective: 500px;
	/*top: 50%;
    left: 50%;
    margin: -150px;
    */

  }
  
.content {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
	transition: transform 1s;
    transform-style: preserve-3d;
  }
  
.card:hover .content{
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    line-height: 0.5;

    text-align: center;
    font-size: 0.7rem;

}

.front{
    background: white;
    color: black;
}

.back {
    background: white;
    color: black;
    transform: rotateY( 180deg );
}

.businessname {
    font-size: 1.1rem;
    font-weight: bolder;
}

img {
    border-radius: 10px;
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

